.ce{
  background: #eee;
  padding: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0;
  padding-left: 10px;
  line-height: 1.5em;
  min-height: 1.5em;
  word-break: break-all;
}

#source-text{
  height: 600px;
}